@main("Poolspel") {


        <div class="row myrow">
            <div class="mydiv" >
                <img class="test" src="@routes.Assets.at("images/45-gustavsberg1.png")" alt="Generic placeholder image"/>
                <strong>Poolspel - Ekvallens IP</strong> <br/>
                Välkommen till dagens poolspel. Hoppas att alla får en fin dag med härliga matcher. Let's play fair play!
            </div>
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href='@routes.Team.teams'>
                        <img class="test" src="@routes.Assets.at("images/Letter-L-grey-icon.png")" alt="Generic placeholder image">
                        <strong>Lagen</strong>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href='@routes.Game.allgames'>
                        <img class="test" src="@routes.Assets.at("images/Letter-M-grey-icon.png")" alt="Generic placeholder image">
                        <strong>Matcher</strong>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href='@routes.Info.info'>
                        <img class="test" src="@routes.Assets.at("images/Letter-I-grey-icon.png")" alt="Generic placeholder image">
                        <strong>Info</strong>
                    </a>
                </li>
            </ul>
        </div>

}