@main("Poolspel") {

    <div class="container">
        <div class="row myrow">
            <div class="mydiv" >
                <img class="test" src="@routes.Assets.at("images/icon_bandy.png")" alt="Generic placeholder image"/>
                <strong>POOLSPEL</strong>
            </div>
        </div>
        <div class="row">
            <ul class="list-group">

                <li class="list-group-item">
                    <a href='@routes.Team.teams'>
                        <img class="test" src="@routes.Assets.at("images/Letter-L-grey-icon.png")" alt="Generic placeholder image">
                        <strong> Lagen</strong>
                    </a>


                </li>
                <li class="list-group-item">
                    <a href='@routes.Game.allgames'>
                        <img class="test" src="@routes.Assets.at("images/Letter-M-grey-icon.png")" alt="Generic placeholder image">
                        <strong> Matcher</strong>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href='@routes.Info.info'>
                        <img class="test" src="@routes.Assets.at("images/Letter-I-grey-icon.png")" alt="Generic placeholder image">
                        <strong> Info</strong>
                    </a>
                </li>

            </ul>
        </div>
            <!-- Three columns of text below the carousel -->
        @*<div class="row">*@
        @*<div class="col-xs-4">*@
        @*<a href='@routes.Team.teams'><img data-src="holder.js/40x40" alt="Generic placeholder image"> </a>*@
        @*<p>Lagen</p>*@
        @*</div><!-- /.col-lg-4 -->*@
        @*<div class="col-xs-4">*@
        @*<a href='@routes.Game.allgames'><img data-src="holder.js/40x40" alt="Generic placeholder image"> </a>*@
        @*<p>Matcher</p>*@
        @*</div><!-- /.col-lg-4 -->*@
        @*<div class="col-xs-4">*@
        @*<a href='@routes.Info.info'><img data-src="holder.js/40x40" alt="Generic placeholder image"> </a>*@
        @*<p>Info</p>*@
        @*</div><!-- /.col-lg-4 -->*@
        @*</div><!-- /.row -->*@
    </div>
}