@main("Info") {
    <div class="container marketing">
        <div class="jumbotron">
            <h1>Information</h1>
            <p>Här finns information som kanske kan komma till nytta under dagen.</p>

        </div>
        <h2>Tävlingsledning</h2>
            <!-- 2 columns of text below the carousel -->
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <img class="thumbnail" data-src="holder.js/180x180" alt="Peter"/>
                <p>Peter</p>
                <a href="tel:084648712"><span class="glyphicon glyphicon-phone"></span> Ring</a>
            </div>
            <div class="col-sm-6 col-md-3">
               <img class="thumbnail" data-src="holder.js/180x180" alt="Erik"/>
               <p>Erik</p>
               <a href="tel:084648712"><span class="glyphicon glyphicon-phone"></span> Ring</a>
            </div>
        </div><!-- /.row -->
        <h2>Kiosken</h2>

    </div>
}