@(teams: List[Team])

@main("Lagen") {


        <h2>Lagen</h2>
        @*<div class="row">*@
            <table class="table table-striped table-responsive">
                <tbody>
                @teams.map { team =>

                        <tr>
                            @*<td>@game.gamenum</td>*@

                            <td> <a href='@routes.Team.info(team.id)'><strong> @team.name</strong></a></td>
                        </tr>
                }
                </tbody>
            </table>


        @*</div>*@



}