@(team: Team, games: List[Game])

@main(team.name) {

        <h2>@team.name</h2>

        <h3>Matcher</h3>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    @*<th>Nr</th>*@
                    <th>Tid</th>
                    <th>Hemmalag</th>
                    <th>Bortalag</th>
                    <th>Resultat</th>
                </tr>
            </thead>
            <tbody>
            @games.map { game =>
                <tr>
                    @*<td>@game.gamenum</td>*@
                    <td><small>@game.date.map(_.format("HH:mm")).getOrElse { <em>-</em> }</small></td>
                    <td><small><a href='@routes.Team.info(game.hometeam_id)'>@game.hometeam</a></small></td>
                    <td><small><a href='@routes.Team.info(game.awayteam_id)'>@game.awayteam</small></td>
                    @if(game.played) {
                        <td><small>@game.homegoals - @game.awaygoals</small></td>
                    } else {
                        <td><small>x - x</small></td>
                    }
                </tr>
            }
            </tbody>
        </table>

}